<form (ngSubmit)="crearReserva()">
  <h2 *ngIf="ciudad">Realiza tu reserva para {{ciudad}}</h2>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Nombre completo</mat-label>
      <input matInput placeholder="Nombre completo" type="text" [(ngModel)]="reserva.nombre" name="nombre">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Número de cédula</mat-label>
      <input required matInput placeholder="Número de cédula" [(ngModel)]="reserva.cedula" name="cedula">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Edad" [(ngModel)]="reserva.edad" name="edad">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Día de la reserva</mat-label>
      <input matInput placeholder="Día de la reserva" [(ngModel)]="reserva.dia_reserva" name="dia_reserva">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <button type="submit">Submit</button>
</form>
