<mat-grid-list cols="4" rowHeight="400" style="padding:10px" *ngIf="vuelos.length > 0 else noData">
  <mat-grid-tile *ngFor="let vuelo of vuelos">
    <mat-card class="vuelo-card">
      <mat-card-header>
        <mat-icon>flight takeoff</mat-icon>
        <div mat-card-avatar></div>
        <mat-card-title>Destino: {{vuelo.ciudad}}</mat-card-title>
        <mat-card-subtitle>Precio*: {{vuelo.precio | currency}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://via.placeholder.com/200x200?text=Vuelos+TandS">

      <mat-card-actions align="end">
        <button mat-button color="primary" [routerLink]="['/reserva',vuelo.ciudad,vuelo.precio]">Reservar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="container">
  <p> * El precio es válido solo para viajes de lunes a viernes en la tarde, para otros horarios las tarifas cambian. Verifíquelo en su reserva.</p>
</div>
<ng-template #noData>
  <div class="mat-elevation-z8 noData">
    <h2>En el momento no hay vuelos disponibles</h2>
  </div>
</ng-template>
