.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.main-menu {
  position: fixed;
  z-index: 100;
  text-align: center;
}
.container {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.container-panel{
  padding-top: 80px;
  padding-left: 310px;
  padding-right: 310px;
}
.docs-footer {

  width: 100%;
  border-top: 2px solid #000;
  position: fixed;
  bottom: 0;
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
  background: #3f51b5;
  color: #fff;

}
